/vendor
/node_modules
Homestead.yaml
Homestead.json
.env

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.DS_Store
.idea/
